<p id="SearchResultsLabel">Search Results for: {{ search_string }}</p>
<p style="font-size: small">({{ n_friends }} friends loaded in database)</p>
   {% if rec_list|length == 0 %}
    <p style="font-size: small; color: blue"> No results found</p>
  {% endif%}
  <ol>
  {% for rec in rec_list %}
        <li>
          <img height="35" width="35" name="thumbnail" src="https://graph.facebook.com/{{ rec.1 }}/picture?access_token={{ access_token }}&type=small"/>
          <a onclick="clickedRec(this.id, this.name, {{ rec.2 }})" type="search_result" class="search_result" name="{{ rec.0 }}" id="{{ rec.1 }}">{{ rec.0 }}</a>
        </li>
  {% endfor %}
  </ol>
  <br>