#NonHeader {
    /*width: 100%;
    height: 100%;*/
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 0px;
    margin-right: auto;
    width: 50%;
    float: left;
}

#InfoArea {
    position: absolute;
    border: 0.5px outset black;
    margin-left: 670px;
    margin-top: 165px;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    float: left;
}

#SearchQueryForm {
    border: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: auto;
    /*margin-left: 30%;
    margin-right: 30%;*/
}

#Loading, #LoadingResultsText, #LoadingResultsImg {
    /*margin-left: 30%;
    margin-right: 30%;*/
}

#SearchResults {

    /*margin-left: 30%;
    margin-right: 30%;*/
}