#NonHeader {
    /*width: 100%;
    height: 100%;*/
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 0;
    margin-right: auto;
    width=50%;
    float: left;
}

#InfoArea {
    float: left;
    border: 1px solid black;
    margin-left: 150;
    margin-top: 40;
    padding: 30;
    border-radius: 15px;
}

#SearchQueryForm {
    border: none;
    padding: 0;
    margin-left: 0;
    margin-right: auto;
    /*margin-left: 30%;
    margin-right: 30%;*/
}

#Loading, #LoadingResultsText, #LoadingResultsImg {
    /*margin-left: 30%;
    margin-right: 30%;*/
}

#SearchResults {
    /*margin-left: 30%;
    margin-right: 30%;*/
}