body {
    background: #FEFEFF;
    margin:0px;
    font-family: 'Tauri', serif;
}

html {
    height: 100%;
    width: 100%;
}

#footer {
    border-top: 0.5px outset black;
    border-bottom: 0.5px outset black;
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0px;
}

/*
form, div {
    position: relative;
}*/

.ui-widget-overlay {
   background: grey;
}

.ui-dialog-osx {
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position:fixed;
    margin-top: 100px;
    /* css3 border radius */
    /*-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;*/

    
    background:#FFF;
    /* styling of the dialog box, i have a fixed dimension for this demo */
    max-height: 200px;
    overflow: auto;
    
    /* make sure it has the highest z-index */
    z-index:5000;
    /* hide it by default */
    display:none;
}

#menu_options {
    float: left;
    list-style-type:none;
    position: relative;
    margin-bottom: 0px;
    margin-top:25px;
    margin-left:20px;
}


[type=menu_option] {
    display: inline;
    padding:0.2em 0.6em;

}

[type=menu_link] {
    color:white;
    cursor: pointer;
}



a {
    text-decoration:none;
}

[type=link]{
    text-decoration: blink;
    cursor: pointer;
    color: blue;
}

[type=search_result]{
    text-decoration: blink;
    cursor: pointer;
    color: blue;
}

#profile_link{
    text-decoration: blink;
    cursor: pointer;
    color: blue;
}

#AboutPageHolder {
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-weight: 100;
    box-shadow: 10px 10px 5px #888888;
    border: 0.5px outset black;
    border-radius: 15px;
}


#HeaderBar {
    background: #000000;
    display : block;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
}

#login_info {
    margin-top: 15px;
    margin-right: 8px;
    vertical-align: bottom;
    position: relative;
    float: right;
}

#logo {
    position: relative;
    float: left;
    cursor: pointer;

}    

#login_welcome {
    color: white;
    vertical-align: bottom;
    font-size: 12;
}

#fb_button {
    float: right;
    vertical-align: bottom;
}

#NonHeader {
    padding-top: 150px;
    margin-left: 30%;
}


#SearchQueryForm {
    background: white;

    border: solid;
    padding: 30px;
    border-radius: 15px;
    display: inline;
    
    /*margin-left: 30%;
    margin-right: 30%;*/
}

