body {
    margin:0;
    font-family: 'Tauri', serif;
}

/*
form, div {
    position: relative;
}*/

#menu_options {
    float: left;
    list-style-type:none;
    position: relative;
    margin-bottom: 0;
    margin-top:25;
    margin-left:20;

}

[type=menu_option] {
    display: inline;
    padding:0.2em 0.6em;

}

[type=menu_link] {
    color:white;
    cursor: pointer;

}

a {
    text-decoration:none;
}

#HeaderBar {
    background: #000000;
    display : block;
    position: relative;
    width: 100%;
    heigth: 1000;
    overflow: hidden;
    border: 1px solid black;
}

#login_info {
    margin-top: 15;
    margin-right: 8;
    vertical-align: bottom;
    position: relative;
    float: right;
}

#logo {
    position: relative;
    float: left;
    cursor: pointer;

}    

#login_welcome {
    color: white;
    vertical-align: bottom;
    font-size: 12;
}

#fb_button {
    float: right;
    vertical-align: bottom;
}

#NonHeader {
    padding-top: 150px;
    margin-left: 30%;    
}


#SearchQueryForm {
    border: solid;
    padding: 30;
    border-radius: 15px;
    display: inline;
    
    /*margin-left: 30%;
    margin-right: 30%;*/
}

